.card {
    padding: 18px;
    border-radius: 18px;
    box-shadow: 2px 2px 10px 0 #0008;
    display: grid;
    gap: 5px;
    height: 550px;
    width: 300px;
    cursor: pointer;
    position: relative;

}
.card__image {
    height: 200px;
    background-color: lightpink;
    margin-top: 32px;
    max-width: calc(300px - 32px);
}
.card__title {
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card__text{
    text-overflow: ellipsis;
    overflow: hidden;
}

.card__tags{
    max-width: calc(300px - 32px);
    flex-wrap: wrap;
    /*display: flex;*/
    gap: 8px;
}

.read {
    color: deepskyblue;
    padding: 18px;
}

.card_like span, .comments__count span {
    line-height: 2em;
}

.card_like, .comments__count {
    position: absolute;
    top: 15px;
    z-index: 1;
    align-items: center;
    display: flex;
}

.comments__count {
    right: 15px;
}
.card_like {
    right: 70px;
}
.edit-post {
    color: green;
    padding-left: 20px;
}

.delete-post {
    color: red;
    padding-left: 20px;
}



