.inner-container {
    padding: 40px calc(50% - 696px);
    background-color: white;
    font-family: playfair display, FreeSans;

}
.post-title {

    text-align: center;
    margin-bottom: 20px;
}
.post-created {
    text-align: right;
}
.text_center {
    text-align: center;
}
.post-text {
    text-align: justify;
    line-height: 1.2em;
    font-size: 1.4em;

}

.tag-item {
    background: #e8e8e8;
    margin-right: 5px;
    padding: 2px 6px;
}

.form {
    display: flex;
    width: 800px;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: sans-serif;
    gap: 20px;
    margin-top: 10px;

}

#page__login, #page__registration {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    font-family: sans-serif;
    gap: 20px;

}
input {
    outline: none;
    border: 1px solid #999;
    padding: 6px 12px;
    font-size: 16px;
    font-family: monospace;
    border-radius: 12px;

}
input:focus {
    border-color: crimson;
}
button {
    background-color: green;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 12px;

}
.info-container, .catalog, .favorites, .page, .search__item {

    padding: 10px calc(50% - 696px);

}
.likes {
    width: 30px;



}
.page-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px;
}
.page-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;

}
.page-container>.active {
    color: forestgreen;
    border: 2px solid;
}




.cancel {
    background-color: red;
}

.modal-wrap{
    display: none;
}

.modal-wrap.show{
    display: block;
}
.post-likes {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
.actions {
    padding-top: 10px;
    color: deepskyblue;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding: 10px calc(50% - 696px);
}

.personal-favorites, .personal-myPosts  {
    margin-top: 10px;
    margin-bottom: 10px;
    color: deepskyblue;
    font-size: 20px;
    display: block;
}


.form-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    font-family: sans-serif;
    gap: 4px;
    margin-top: 2px;
}
