.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: auto;
    /*width: 1000px;*/
    background-color: lightskyblue;
    padding: 40px calc(50% - 696px);

}
.block {
    margin: 20px;
    font-size: 20px;

}

footer h3 {
    margin: 0;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: inherit;
    line-height: 28px;
}
footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
footer>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.soc {
    display: flex;
    justify-content: space-between;
}