.slider {
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider-img {
    position: relative;
    width: 100%;
    height: 500px;
    transition: all 0.2s;
}

.slider-img-prev {
    transform: translateX(-100%);
}

.slider-img-next {
    transform: translateX(100%);
}

.slider__img{
    position: absolute;
    width: 100%;
    height: 500px;
    transition: all 1s;
}

.slider__title {
    font-size: 60px;
    animation-name: slideInTop;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    position: absolute;
    top: 10%;
    left: 60px;
    margin: 0;
    background-color: rgba(255, 255,255, .2);
}

@keyframes slideInTop {
    0% {
        top: 0;
        opacity: 0;
    }
    50% {
        top: 5%;
        opacity: .5;
    }
    100% {
        top: 10%;
        opacity: 1;
    }
}